@font-face {
  font-family: 'Desolator-Bold';
  src: url(/static/font/Desolator-Bold.woff) ;
}

@font-face {
  font-family: 'Desolator-Light';
  src: url(/static/font/Desolator-Light.woff) ;
}

@font-face {
  font-family: 'Desolator';
  src: url(/static/font/Desolator.woff) ;
}